{% extends 'base.html.twig' %}

{% set adminHeader %}
    <a class="btn btn-outline-light border-0" href="/blog/{{ post.slug }}" title="Retour en mode visionnage">
        <i class="material-icons-outlined">arrow_back</i></a>
    <span class="font-weight-bold ml-4">Mode édition</span>
    <div class="ml-auto"><a class="btn btn-outline-light border-0" href="#" onclick="save()" title="Sauvegarder"><i
                    class="material-icons-outlined">done</i></a></div>
    <div class="ml-1"><a class="btn btn-outline-light border-0" href="#" onclick="deletePost('{{ post.slug }}')" title="Supprimer"><i
                    class="material-icons-outlined">delete</i></a></div>
{% endset %}

{% block contenuPrincipal %}
    {% if app.connected %}
        {% set adminHeaderDisplayedClass = 'admin-header-displayed' %}
    {% endif %}

    <header class="masthead {{ adminHeaderDisplayedClass }} bg-primary text-white text-center">
        <div id="featured-image-container" class="container d-flex align-items-center flex-column"
             style="background-image: url('{{ (post.featured_image)?: '/assets/img/no-image.jpg' }}')">
            <div class="content">
                <h1 class="dfree-title masthead-heading text-uppercase mb-0">{{ post.title }}</h1>
                {% include 'components/divider.html.twig' %}
                <p class="dfree-desc masthead-subheading font-weight-light mb-0">{{ post.description }}</p>
                <div id="featured-image-selector">
                    <label for="image-input">
                        <i class="material-icons-outlined">add_photo_alternate</i>
                    </label>
                    <input id="image-input" form="form-edit-post" type="file" name="featured-image">
                </div>
            </div>
            <div class="filter">
            </div>
        </div>
    </header>

    <section class="page-section portfolio">
        <div class="container mb-5">
            <div>Créé le : {{ post.created_datetime|date('d-m-Y \\à H\\hi') }}</div>
            <div>Mis à jour le : {{ post.updated_datetime|date('d-m-Y \\à H\\hi') }}</div>
            <div>Publié par : {{ post.author.first_name }}</div>
        </div>
        <div class="container mb-2">
            <p class="dfree-slug">
                {{ post.slug|raw }}
            </p>
        </div>
        <div class="container">
            <div class="dfree-content">
                {{ post.content|raw }}
            </div>
        </div>
    </section>

    <form id="form-edit-post" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ post.id }}">
    </form>

    <script>
        let form = document.getElementById('form-edit-post');
        let imageInput = document.getElementById('image-input');
        let imagePreview = document.getElementById('featured-image-container');
        let defaultImage = imagePreview.style.backgroundImage;
        console.log(imageInput, defaultImage);

        imageInput.addEventListener('change', function (e) {
            if (!imageInput.files[0]) {
                imagePreview.style.backgroundImage = defaultImage;
                return;
            }

            let previewURL = URL.createObjectURL(imageInput.files[0]);
            imagePreview.style.backgroundImage = "url('" + previewURL + "')";
        });

        function save() {
            var title = document.createElement("input");
            var description = document.createElement("input");
            var slug = document.createElement("input");
            var content = document.createElement("input");

            title.value = document.querySelector('.dfree-title').innerHTML;
            title.name = "title";
            form.appendChild(title);

            description.value = document.querySelector('.dfree-desc').innerHTML;
            description.name = "description";
            form.appendChild(description);

            slug.value = document.querySelector('.dfree-slug').innerHTML;
            slug.name = "slug";
            form.appendChild(slug);

            content.value = document.querySelector('.dfree-content').innerHTML;
            content.name = "content";
            form.appendChild(content);

            document.body.appendChild(form);

            form.submit();
        }
    </script>
{% endblock %}