{# /templates/post.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="produit.css" type="text/css" media="all" />
{% endblock%}

{% block contenuPrincipal %}

    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="dfree-title masthead-heading text-uppercase mb-0">{{ post.title }}</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="dfree-desc masthead-subheading font-weight-light mb-0">{{ post.desc }}</p>
        </div>
    </header>


    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            {% if app.connected %}
                <p>
                    <a href="/blog/edit-post/{{ post.slug }}">Sauvegarder</a>
                </p>
            {% endif %}
            <div class="dfree-content">
                {{ post.content }}
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {# <script src="build/produit.js" /> #}
{% endblock %}