{% extends 'base.html.twig' %}

{% set adminHeader %}
    <span class="font-weight-bold">Mode administrateur</span>
    <div class="ml-auto"><a class="btn btn-outline-light border-0" href="/blog/edit-post/{{ post.slug }}"><i
                    class="material-icons-outlined">edit</i></a></div>
{% endset %}

{% block contenuPrincipal %}

    {% if app.connected %}
        {% set adminHeaderDisplayedClass = 'admin-header-displayed' %}
    {% endif %}

    <!-- Masthead-->
    <header class="masthead {{ adminHeaderDisplayedClass }} bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column"
             style="background-image: url('{{ (post.featured_image)?: '/assets/img/no-image.jpg' }}')">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">{{ post.title }}</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">{{ post.description }}</p>
        </div>
    </header>


    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            {{ post.content|raw }}
        </div>
    </section>

    <section>
        <div class="container">
            <h4 class="mb-5">Commentaires</h4>
            <div class="my-5">
                {{ showComments(comments) }}
            </div>
            <div class="my-5">
                <h5>Ajouter un commentaire</h5>
                {{ form(formAddComment) }}
            </div>
        </div>
    </section>

{% endblock %}