{% extends 'base.html.twig' %}

{% set adminHeader %}
    <a class="btn btn-outline-light border-0" href="/blog" title="Retour au blog">
        <i class="material-icons-outlined">arrow_back</i></a>
    <span class="font-weight-bold ml-4">Mode lecture</span>
    <div class="ml-auto">
        <a class="btn btn-outline-light border-0" href="/blog/edit-post/{{ post.slug }}" title="Editer">
            <i class="material-icons-outlined">edit</i></a>
        <a class="btn btn-outline-light border-0" href="/blog/delete-post/{{ post.slug }}" onclick="deletePost(event, '{{ post.slug }}')" title="Supprimer">
            <i class="material-icons-outlined">delete</i></a>
    </div>

{% endset %}

{% block contenuPrincipal %}
    {% if app.connected %}
        {% set adminHeaderDisplayedClass = 'admin-header-displayed' %}
    {% endif %}
    <header class="masthead {{ adminHeaderDisplayedClass }} bg-primary text-white text-center">
        <div id="featured-image-container" class="container d-flex align-items-center flex-column"
             style="background-image: url('{{ (post.featured_image)?: '/assets/img/no-image.jpg' }}')">
            <div class="content">
                <h1 class="masthead-heading text-uppercase mb-0">{{ post.title }}</h1>
                {% include 'components/divider.html.twig' %}
                <p class="masthead-subheading font-weight-light mb-0">{{ post.description }}</p>
            </div>
            <div class="filter">
            </div>
        </div>
    </header>

    <section class="page-section">
        <div class="container mb-5">
            <div>Mis à jour le : {{ post.updated_datetime|date('d-m-Y') }}</div>
            <div>Publié par : {{ post.author.first_name }}</div>
        </div>
        <div class="container">
            {{ post.content|raw }}
        </div>
    </section>

    <section>
        <div class="container">
            <h4 class="mb-5">Commentaires</h4>
            <div class="my-5">
                {{ element('comments', comments) }}
            </div>
            <div class="my-5">
                <h5>Ajouter un commentaire</h5>
                <div>{{ form(formAddComment) }}</div>
            </div>
        </div>
    </section>
{% endblock %}