<div class="row">
    <div class="col">{{ data.username }}</div>
    <div class="col">{{ data.first_name }} {{ data.last_name }}</div>
    <div class="col">{{ data.email }}</div>
    {% if app.user.id != data.id %}
    <div class="ml-auto">
        <a href="/user/{{ data.id }}/delete" ><i class="material-icons-outlined">delete</i></a>
    </div>
    {% endif %}
</div>