<div class="comment mb-4 d-flex align-items-center">
    <div{{ (comment.validated != 1) ? ' class="text-grey"' }}>
        <div><b>{{ comment.author_name }}</b></div>
        <div>{{ comment.comment }}</div>
    </div>
    {% if app.connected %}
        <div class="ml-auto">
            {% if comment.validated %}
                <a href="/comment/{{ comment.id }}/delete">Supprimer</a>
            {% else %}
                <a href="/comment/{{ comment.id }}/validate">Valider</a><a class="ml-2" href="/comment/{{ comment.id }}/delete">Supprimer</a>
            {% endif %}
        </div>
    {% endif %}
</div>